<div class="m-2 p-2">
	<h2 class="text-center">Oturum Ac</h2>
	<div class="d-flex justify-content-center m-2 p-2">
		<%= form_for :session, url: sessions_path do |form| %>
			<div class="form-group">
				<%= form.text_field :user_name,
					class: 'form-control', 
					id: 'InputUserName',
					type: 'text',
					placeholder: 'Username' %>
			</div>
			
			<div class="form-group">
				<%= form.password_field :password,
					class: 'form-control', 
					id: 'InputPassword',
					type: 'password',
					placeholder: 'Password' %>
			</div>

			<div class="d-flex justify-content-center">
				<%= form.submit 'Oturum Ac', class: 'btn btn-primary btn-block' %>
			</div>
		<% end -%>
	</div>
</div>