<%= form_with model: @user, local: true, validate: true do |form| %>
	<% if @user.errors.any? %>
		<div class="card text-white bg-danger mb-3" style="max-width: 39rem;">
			<div class="card-header">
				<h3>Asagidaki hatalari duzeltip, tekrar deneyiniz.</h3>
			</div>
			<div class="card-body">
				<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li class="text-light"><%= message %></li>
					<% end %>
				</ul>
			</div>
		</div>

	<% end -%>

	<div class="form-row">
		<div class="form-group col-md-6">
			<%= form.label :first_name,
				for: 'InputFirstName' %>
			<%= form.text_field :first_name, 
				class: 'form-control', 
				id: 'InputFirstName',
				type: 'text',
				placeholder: 'First Name' %>
		</div>

		<div class="form-group col-md-6">
			<%= form.label :last_name, 
				for: 'InputLastName' %>
			<%= form.text_field :last_name,
				class: 'form-control', 
				id: 'InputLastName',
				type: 'text',
				placeholder: 'Last Name' %>
		</div>
	</div>

	<div class="form-group">
		<%= form.label :username,
			for: 'InputUserName' %>
		<%= form.text_field :username,
			class: 'form-control', 
			id: 'InputUserName',
			type: 'text',
			placeholder: 'Username' %>
	</div>

	<div class="form-group">
		<%= form.label :email,
			for: 'InputEmail' %>
		<%= form.email_field :email,
			class: 'form-control', 
			id: 'InputEmail',
			type: 'email',
			placeholder: 'Email' %>
	</div>

	<% if params[:action] == 'new' || params[:action] == 'create' %>
		<div class="form-row">
			<div class="form-group col-md-6">
				<%= form.label :password,
					for: 'InputPassword' %>
				<%= form.password_field :password,
					class: 'form-control', 
					id: 'InputPassword',
					type: 'password',
					placeholder: 'Password' %>
			</div>

			<div class="form-group col-md-6">
				<%= form.label :password_confirmation,
					for: 'InputPasswordConf' %>
				<%= form.password_field :password_confirmation,
					class: 'form-control', 
					id: 'InputPasswordConf',
					type: 'password',
					placeholder: 'Password' %>
			</div>
		</div>
	<% end -%>

	<div class="d-flex justify-content-end">
		<%= form.submit 'Sign up',
			class: 'btn btn-primary',
			type: 'submit' %>
	</div>
<% end %>