<div class="row m-2 p-2">

	<div class="col-md-7 m-2 p-2">
		<h2>Aramiza katilin!</h2>
		<%= render 'form' %>
	</div>


	<div class="col-md-5 card text-white bg-dark m-2 p-2" style="max-width: 25rem; max-height: 25rem;">
		<div class="card-header">
			<h3>Buralarda yeni misin?</h3>
		</div>
		<div class="card-body">
			<p>O halde; hemen bir hesap olustur ve bu buyu aileye katil!</p>
			<ul>
				<li>Takildigin sorularla ilgili sorular sor.</li>
				<li>Digerlerinin sorularini cevapla.</li>
				<li>Ilgi alanlarini takip et ve tartismalara dahil ol.</li>
			</ul>

			<p class="font-weight-bold">
				Ogrenirken, ogretmek icin yandaki formu doldurarak baslayabilirsin.
			</p>
		</div>
	</div>

</div>
