<% content_for(:profile_content) do %>
	<h2><%= page.capitalize %></h2>

	<% if @data.blank? %>
		<p>Kullaniciya ait <%= page %> bulunmamaktadir</p>
	<% else %>
		<% @data.each do |data| %>
			<div><%= data %></div>
		<% end -%>
	<% end -%>
<% end -%>
