<% flash.each do |type, message| %>
	<div class="alert alert-<%= flash_class(type) %> alert-dismissible fade show" role="alert">
		<%= message %>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% end -%>