<nav class="navbar navbar-expand navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Rails on Forum</a>
	
	<div class="collapse navbar-collapse justify-content-end">
		<% if signed_in? %>
			<div class=" navbar-nav nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><%= current_user.name %></a>
				<div class="dropdown-menu">
					<%= link_to 'Profilimi Goruntule', profile_path(current_user), class: 'dropdown-item' %>
					<%= link_to 'Oturumu Kapat', logout_path, method: :delete, class: 'dropdown-item' %>
				</div>
			</div>
		<% else %>
			<ul class="navbar-nav">
				<li class="nav-item">
					<%= link_to 'Kaydol', register_path, class: 'nav-link' %>
				</li>
				<li class="nav-item">
					<%= link_to 'Oturum Ac', login_path, class: 'nav-link' %>
				</li>
			</ul>
		<% end -%>
	</div>
</nav>