<!DOCTYPE html>
<html>
<head>
	<title>RailsOnForm</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	
	<%= render 'layouts/nav_bar' %>

	<div class="container p-2">
		<%= render 'layouts/flash_messages' %>

		<%= content_for?(:content) ? yield(:content) : yield %>
	</div>

</body>
</html>
