<%= content_for(:content) do %>
	<div class="row m-2 p-2">
		<div class="col-2">
			<%= image_tag @user.avatar_url, class: 'rounded-circle' %>
		</div>

		<div class="col-10">
			<h2><%= @user.name %></h2>
			<p><%= @user.email %></p>
			<div class="btn-group">
					<%= link_to 'Konular', profile_path(@user, sayfa: 'konular'), class: 'btn btn-dark' %>
					<%= link_to 'Yorumlar', profile_path(@user, sayfa: 'yorumlar'), class: 'btn btn-dark' %>
					<% if current_user == @user %>
						<%= link_to 'Profilimi Duzenle', edit_profile_path(@user), class: 'btn btn-dark' %>
						<%= link_to 'Hesabimi Sil', @user, class: 'btn btn-dark', data: {confirm: 'Hesabinizi silmek istediginize...?'}, method: :delete %>
					<% end -%>
			</div>
		</div><hr>
	</div>

	<div class="m-2 p-2">
		<%= yield :profile_content %>
	</div>
<% end -%>

<%= render template: 'layouts/application' %>